.box {
  /*height: 325px;*/
}
.centered {
  text-align: center;
  margin: 0 auto 0 auto;
}
.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
.shadow {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

@font-face {
    font-family: 'AngelinaRegular';
    src: url('../fonts/angelina-webfont.eot');
    src: url('../fonts/angelina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angelina-webfont.woff') format('woff'),
         url('../fonts/angelina-webfont.ttf') format('truetype'),
         url('../fonts/angelina-webfont.svg#AngelinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, p {
  font-family: "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Arial Black", sans-serif; 
}

h2 {
  font-family: AngelinaRegular, "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Arial Black", sans-serif; 
  font-stretch:normal;
  font-size: 3em;
  /*workaround for ios double stroke bug http://stackoverflow.com/questions/5069752/ios-4-2-webfont-ttf-s-bold-font-weight-rendering-bug */
  font-weight: normal;
}

p {
  /*font-weight: bold;*/
  text-align: justify;
  font-size: larger;
}

h2, li {
  color: #579;
}

.btn-cta {
  text-align: center;
  margin: 0 auto 8px auto;
  min-width: 33%;
}

footer.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

.footer img {
  padding: 0 15px 15px 15px;
}

img.profile {
  max-width: 50%;
  float: left;
  margin-bottom: 8px;
  margin-right: 8px;
}