.row {
  margin-top: 20px;
}
.centered {
  text-align: center;
  margin: 0 auto 0 auto;
}
.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
.shadow {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

.box {
  margin-bottom: 10px;
}

.box .details-link {
  text-align: right;
  padding-right: 30px;
}

h2, p {
  font-family: "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Arial Black", sans-serif; 
}

h1, li p {
  font-family: AngelinaRegular, "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Arial Black", sans-serif; 
  font-stretch:normal;
  color: #579;
  /*workaround for ios double stroke bug http://stackoverflow.com/questions/5069752/ios-4-2-webfont-ttf-s-bold-font-weight-rendering-bug */
  font-weight: normal;
}

h1 {
  font-size: 3em ;
}

li p {
  font-size: 2.1em;
}

p {
  /*font-weight: bold;*/ 
  font-size: larger;
  color: #333;
}

a {
  color: #333;
}

a:hover {
  color: #333;
}

.btn-cta {
  text-align: center;
  margin: auto auto 8px auto;
  width: 100%;
  /*overwrite bootstrap padding*/
  padding-right: 0;
  padding-left: 0;
}

.descriptive-text {
  text-align: justify;
}

footer.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

.footer img {
  padding: 0 9px 9px 9px;
}

img.profile {
  margin-bottom: 8px;
  margin-right: 8px;
}

@font-face {
    font-family: 'AngelinaRegular';
    src: url('../fonts/angelina-webfont.eot');
    src: url('../fonts/angelina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angelina-webfont.woff') format('woff'),
         url('../fonts/angelina-webfont.ttf') format('truetype'),
         url('../fonts/angelina-webfont.svg#AngelinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}