body {
    font-family: "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Arial Black", sans-serif; 
    font-stretch:normal;
}
.container {
    width: 100%;
    height: 100%;
}
.content {
    margin-top: 40px;
    margin-left: 33%;
    margin-right: 66%;
    width: 10px;
}
h2 {
    color: #aaa;
    font-weight:800; 
}
h1 {
    color: #555;
    font-weight:800; 
}