<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>making things happen. | <%= @item[:title] %></title>
  <meta name="description" content="<%= @item[:description] %>"/>
  <meta name="keywords" content="<%=@item[:keywords]%>"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="icon" type="image/png" href="/images/mth.png">
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31920697-1']);
  _gaq.push(['_setDomainName', 'makingthingshappen.de']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="container">
  <%= yield %>
  <footer class="footer">
    <div class="span12 centered social-connect">
      <div class="social-button twitter-button">
        <!-- Twitter follow button-->
        <a href="https://twitter.com/making_de" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @making_de</a>
      </div>
      <div class="social-button">
        <!-- Facebook like button-->
        <div class="fb-like" data-href="https://www.facebook.com/makingthingshappen.de" data-send="false" data-layout="button_count" data-width="128" data-show-faces="false"></div>
      </div>
    </div> 
    <div class="span12 centered">
      <a href="http://zerply.com/5v3n" title="Zerply"><img src="/images/zerply.png" alt="Zerply"/></a>
      <a href="http://github.com/5v3n" title="Github"><img src="/images/github.png" alt="Github"/></a>
      <a href="http://de.linkedin.com/in/svenkraeuter" title="linked in"><img src="/images/linkedin.png" alt="linked in"/></a>
      <a href="https://www.xing.com/profile/Sven_Kraeuter" title="xing"><img src="/images/xing.png" alt="Xing"/></a>
    </div>
    <div class="span12 centered">
      <a href="http://blog.makingthingshappen.de?source=website">Blog</a>&nbsp;|&nbsp;<a href="/imprint.html">Imprint</a>
    </div>
  </footer>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>

